@tailwind base;
@tailwind components;
@tailwind utilities;

.font72 {
  font-size: 72px;
}
.font40 {
  font-size: 40px;    
}
.font15 {
  font-size: 18px;
}
.max460 {
  max-width: 460px;
  margin: 0 auto;
} 
.home3 svg {
  width: 40px;
}
h3 {
  font-size: 22px;
  font-weight: 400;
}
.home3left {
  padding-top: 170px;
}
#contact input,
#contact textarea {
  border-bottom: solid 1px #000;
  padding: 12px;
}
#contact textarea {
  min-height: 150px;
}
#contact input:focus,
#contact textarea:focus {
  border: solid 1px #000;
}
div#section2 {
  padding-bottom: 160px;
}
.logo {
  padding-top: 40px;
}
#contact button {
  font-size: 18px;
}
.formMsg {
  text-align: center;
  font-size: 20px;
  padding-bottom: 30px;
  color: green;
  font-style: italic;
  font-weight: 600;
}
div#contact {
  padding: 130px 0;
}
html {
  scroll-behavior: smooth;
}
